arandr==0.1.11
attrs==23.2.1.dev0
btrfsutil==6.10
cffi==1.16.0
click==8.1.7
cryptography==42.0.7
filelock==3.13.3
libtorrent==2.0.10
nltk==3.8.1
packaging==24.1
pathspec==0.12.1
pycairo==1.27.0
pycparser==2.22
PyGObject==3.48.2
PyYAML==6.0.2
regex==2024.7.24
subprocess-tee==0.4.1
wheel==0.44.0
yamllint==1.35.1
